<main style="width: 600px">
  <h1>Edit Titles</h1>

  <div class="inputBar">
    <input class="mx-1" placeholder="Doktor" [(ngModel)]="input" (keyup.enter)="add()">
    <button mat-mini-fab (click)="add()">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>

  <mat-chip-list class="m-3">
    <mat-chip *ngFor="let title of getTitles()" (click)="remove(title)">
      {{title}}
      <mat-icon class="ms-3 opacity-50">delete</mat-icon>
    </mat-chip>
  </mat-chip-list>
</main>

