<div class="main">

  <div class="col-12 p-3 " style="max-height: 0">
    <button (click)="openTitleDialog()" mat-mini-fab color="primary" class="float-end">
      <mat-icon>settings</mat-icon>
    </button>
  </div>

  <div class="row align-items-start">
    <div class="col-12 col-xxl-4 row justify-content-center inputArea">
      <label style="color: #f84040">{{error}}</label>
      <div class="inputBar">
        <input class="mx-1" placeholder="Herr Prof Max Mustermann" [(ngModel)]="input" (ngModelChange)="analyze()" (keyup.enter)="addToTable()">
        <button mat-mini-fab (click)="addToTable()">
          <mat-icon>arrow_forward_ios</mat-icon>
        </button>
      </div>
      <div class="my-5">
        <p>Vorname: {{preview.firstname}} <span *ngIf="!preview.firstname" class="fst-italic">fehlt</span></p>
        <p>Nachname: {{preview.lastname}} <span *ngIf="!preview.lastname" class="text-warning fst-italic">fehlt</span></p>
        <p>Titel: {{preview.title}} <span *ngIf="!preview.title" class="fst-italic">fehlt</span></p>
        <p>Anrede: {{preview.address}} <span *ngIf="!preview.address" class="text-warning fst-italic">fehlt</span></p>
        <p>Geschlecht: {{preview.gender}} <span *ngIf="!preview.gender" class="text-warning fst-italic">fehlt</span></p>
      </div>
      <app-greeting-field [preview]="getLetterPreview(preview)"></app-greeting-field>
    </div>

    <div class="col-12 col-xxl-8 tableArea">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Anrede</th>
          <th scope="col">Titel</th>
          <th scope="col">Geschlecht</th>
          <th scope="col">Vorname</th>
          <th scope="col">Nachname</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of TableData; let i = index">
          <td>{{i+1}}</td>
          <td>{{item.address}}</td>
          <td>{{item.title}}</td>
          <td>{{item.gender}}</td>
          <td>{{item.firstname}}</td>
          <td>{{item.lastname}}</td>
          <td>
            <button (click)="showGreeting(item)" mat-raised-button color="primary" style="background-color: #39b739" class="m-1">
              <mat-icon>play_arrow</mat-icon>
            </button>
            <button (click)="openEditDialog(item)" mat-raised-button color="primary" class="m-1">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="copyToClipboard(getLetterPreview(item))" mat-raised-button color="primary" class="m-1">
              <mat-icon>content_copy</mat-icon>
            </button>
            <button (click)="delFromTable(item)" mat-raised-button color="primary" style="background-color: #f84040" class="m-1">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>


