.inputArea {
  padding: 5em;
  align-items: start;
}

.inputBar {
  display:flex;
  flex-direction:row;
}

input{
  flex-grow: 2;
}

.tableArea {
  padding: 5em;
  max-width: 100vw;
  overflow-x: auto;
}

tbody {
  height: 100px;       /* Just for the demo          */
  overflow-y: auto;    /* Trigger vertical scroll    */
  overflow-x: hidden;  /* Hide the horizontal scroll */
}

.main{
  background-color: #eaeaea;
  width: 100vw;
  min-height: 100vh;
}


