<h1>Edit Entry</h1>
<p>Anrede: <br> <input [(ngModel)]="data.address"/></p>
<p>Titel: <br><input [(ngModel)]="data.title"/></p>
<p>Geschlecht: <br><input [(ngModel)]="data.gender"/></p>
<p>Vorname: <br><input [(ngModel)]="data.firstname"/></p>
<p>Nachname: <br><input [(ngModel)]="data.lastname"/></p>
